#footer {
  width: 100%;
  padding: 4em;
  background-color: var(--verydarkviolet);
  color: var(--white);
  display: flex;
  justify-content: space-around;

  .logo {
    width: 130px;
    height: 40px;
    filter: invert(1);
  }

  .box-items {
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 1em;
    }

    .list {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;

      li {
        cursor: pointer;
        list-style-type: none;

        &:hover {
          color: var(--cyan);
        }
      }
    }
  }

  .networks {
    display: flex;
    column-gap: 1.2em;

    img {
      height: 30px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 375px) {
  #footer {
    padding: 3em;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 130px;
      height: 35px;
      filter: invert(1);
    }

    .box-items {
      align-items: center;
      margin-top: 2.5em;

      .list {
        align-items: center;
      }
    }

    .networks {
      margin-top: 2.5em;
    }
  }
}
