<footer id="footer">
  <img class="logo" src="/assets/images/logo.svg" alt="" />
  <div class="box-items features">
    <h3>Features</h3>
    <ul class="list">
      <li>Link Shortening</li>
      <li>Branded Links</li>
      <li>Analytics</li>
    </ul>
  </div>
  <div class="box-items resources">
    <h3>Resources</h3>
    <ul class="list">
      <li>Blog</li>
      <li>Developers</li>
      <li>Support</li>
    </ul>
  </div>
  <div class="box-items company">
    <h3>Company</h3>
    <ul class="list">
      <li>About</li>
      <li>Our Team</li>
      <li>Careers</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="networks">
    <img src="/assets/images/icon-facebook.svg" alt="Ícone facebook">
    <img src="/assets/images/icon-twitter.svg" alt="Ícone twitter">
    <img src="/assets/images/icon-pinterest.svg" alt="Ícone pinterest">
    <img src="/assets/images/icon-instagram.svg" alt="Ícone instagram">
  </div>
</footer>
