<main id="main">
  <div class="container">
    <div class="content">
      <h1>More than just shorter links</h1>
      <p>
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
      </p>
      <button>Get started</button>
    </div>
    <img src="/assets/images/illustration-working.svg" alt="" />
  </div>

  <section id="url-container">
    <div class="container">
      <div class="input-box">
        <input type="text" placeholder="Shorten a link here..." />
        <button>Shorten it!</button>
      </div>
      <div class="list">
        <span>https://www.frontendmentor.io/home</span>
        <div class="link-shortening-btn">
          <span>https://www.sdlk</span>
          <button>{{ copiedLink ? "Copied!" : "Copy" }}</button>
        </div>
      </div>
    </div>
  </section>
</main>
