<main id="main">
  <div class="container">
    <div class="content">
      <h1>More than just shorter links</h1>
      <p>
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
      </p>
      <button class="button">Get started</button>
    </div>
    <img src="/assets/images/illustration-working.svg" alt="" />
  </div>

  <div id="url-container">
    <div class="container">
      <div class="input-box">
        <input type="text" placeholder="Shorten a link here..." />
        <button class="button">Shorten it!</button>
      </div>
      <div class="list">
        <span>https://www.frontendmentor.io/home</span>
        <div class="link-shortening-btn">
          <span>https://www.sdlk</span>
          <button>{{ copiedLink ? "Copied!" : "Copy" }}</button>
        </div>
      </div>

      <section id="advanced-statistics-container">
        <h2>Advanced Statistics</h2>
        <p class="section-preview">
          Track how your links are performing across the web with our advanced
          statistics dashboard.
        </p>
        <div class="img-statistics">
          <div class="line"></div>
          <div class="card-statistics recognition">
            <div class="img-box"></div>
            <h3>Brand Recognition</h3>
            <p>
              Boost your brand recognition with each click. Generic links don’t
              mean a thing. Branded links help instil confidence in your
              content.
            </p>
          </div>
          <div class="card-statistics detailed-records">
            <div class="img-box"></div>
            <h3>Detailed Records</h3>
            <p>
              Gain insights into who is clicking your links. Knowing when and
              where people engage with your content helps inform better
              decisions.
            </p>
          </div>
          <div class="card-statistics customizable">
            <div class="img-box"></div>
            <h3>Fully Customizable</h3>
            <p>
              Improve brand awareness and content discoverability through
              customizable links, supercharging audience engagement.
            </p>
          </div>
        </div>
      </section>
    </div>
    
    <section id="boost-your-links-container">
      <h2>Boost your links today</h2>
      <button class="button">Get Started</button>
    </section>
  </div>
</main>
