@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    overflow-x: hidden;
}

:root {
    --white: #fff;
    --verydarkviolet: #232127;
    --darkblue: #35323e;
    --darkviolet: #3b3054;
    --darkgray: #9e9aa7;
    --gray: #F0F1F6;
    --cyan: #2acfcf;
    --cyanHover: #2acfcf9a;
    --red: #f46262;
}

.container {
    padding: 0 10em;
}